body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}
body {
  background: url("https://image.freepik.com/free-photo/green-smoke-abstract-black-background-darkness-concept_55716-1471.jpg")
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
