* {
  margin: 0;
  text-align: center;
}
.title:hover {
  text-decoration: underline;
}
.job-content {
  background-color: none;
  transition: transform 1s;
  margin: 5px;
}
.job-content:hover {
  background-image: linear-gradient(to right, white, rgb(198, 239, 245));
  background-color: rgb(245, 226, 226);
  box-shadow: rgb(170, 107, 107);
  transform: scale(1.05);
}
